<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Board Game'Z - Don't Get Got</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header style="text-align:center; margin-bottom:20px;display: flex;flex-direction: row;align-items: center;justify-content: center;gap: 5px;">
  <img src="/assets/logo.png" alt="Board Game'Z logo" width="75">
  <h1 style="color:#ff2e63;">
    Board Game'Z<br>
  🎯 Don't Get Got
</h1>
</header>

<main>
  <%- body %>
</main>

</body>
</html>